@import 'fonts.css';

:root,
:host,
.em9-theme-light {
  color-scheme: light;
  /*
   * Color Primitives
   */
  /* em9 Burgundy */
  --em9-color-burgundy-25: hsl(0, 100%, 99%);
  --em9-color-burgundy-50: hsl(355, 46%, 95%);
  --em9-color-burgundy-100: hsl(358, 57%, 90%);
  --em9-color-burgundy-200: hsl(358, 66%, 85%);
  --em9-color-burgundy-300: hsl(357, 69%, 75%);
  --em9-color-burgundy-400: hsl(357, 55%, 58%);
  --em9-color-burgundy-500: hsl(357, 41%, 43%);
  --em9-color-burgundy-600: hsl(357, 50%, 35%);
  --em9-color-burgundy-700: hsl(358, 55%, 31%);
  --em9-color-burgundy-800: hsl(357, 64%, 28%);
  --em9-color-burgundy-900: hsl(358, 69%, 25%);
  /* --em9-burgundy-950:hsl(140, 100%, 25%); */

  /* em9 Orange */
  --em9-orange-25: hsl(30, 100%, 98%);
  --em9-orange-50: hsl(33, 100%, 96%);
  --em9-orange-100: hsl(34, 86%, 85%);
  --em9-orange-200: hsl(33, 98%, 82%);
  --em9-orange-300: hsl(34, 100%, 74%);
  --em9-orange-400: hsl(34, 98%, 66%);
  --em9-orange-500: hsl(34, 86%, 55%);
  --em9-orange-600: hsl(30, 71%, 46%);
  --em9-orange-700: hsl(25, 71%, 37%);
  --em9-orange-800: hsl(22, 71%, 28%);
  --em9-orange-900: hsl(18, 70%, 25%);
  /* --em9-orange-950:	hsl(34, 84%, 28%); */

  /* em9 Black */
  --em9-color-black: hsl(0, 0%, 0%);
  --em9-color-black-25: hsl(0, 0%, 96%);
  --em9-color-black-50: hsl(0, 2%, 87%);
  --em9-color-black-100: hsl(0, 1%, 79%);
  --em9-color-black-200: hsl(300, 1%, 70%);
  --em9-color-black-300: hsl(0, 1%, 62%);
  --em9-color-black-400: hsl(330, 1%, 54%);
  --em9-color-black-500: hsl(330, 1%, 45%);
  --em9-color-black-600: hsl(340, 2%, 37%);
  --em9-color-black-700: hsl(330, 1%, 29%);
  --em9-color-black-800: hsl(0, 2%, 20%);
  --em9-color-black-900: hsl(340, 5%, 12%);
  --em9-color-black-950: hsl(340, 5%, 16%);

  /* Gray */
  --em9-color-gray-25: hsl(210, 20%, 99%);
  --em9-color-gray-50: hsl(240, 25%, 98%);
  --em9-color-gray-100: hsl(240, 33%, 97%);
  --em9-color-gray-200: hsl(230, 23%, 95%);
  --em9-color-gray-300: hsl(240, 18%, 86%);
  --em9-color-gray-400: hsl(235, 18%, 71%);
  --em9-color-gray-500: hsl(236, 14%, 61%);
  --em9-color-gray-600: hsl(236, 12%, 50%);
  --em9-color-gray-700: hsl(234, 16%, 36%);
  --em9-color-gray-800: hsl(234, 21%, 28%);
  --em9-color-gray-900: hsl(228, 29%, 20%);

  /* Gray  bLUE*/
  --em9-color-gray-blue-25: hsl(240, 20%, 99%);
  --em9-color-gray-blue-50: hsl(231, 36%, 98%);
  --em9-color-gray-blue-100: hsl(231, 36%, 94%);
  --em9-color-gray-blue-200: hsl(231, 36%, 88%);
  --em9-color-gray-blue-300: hsl(231, 36%, 78%);
  --em9-color-gray-blue-400: hsl(232, 36%, 59%);
  --em9-color-gray-blue-500: hsl(232, 36%, 48%);
  --em9-color-gray-blue-600: hsl(232, 36%, 38%);
  --em9-color-gray-blue-700: hsl(231, 36%, 33%);
  --em9-color-gray-blue-800: hsl(230, 36%, 25%);
  --em9-color-gray-blue-900: hsl(231, 36%, 10%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray Cool */
  --em9-color-gray-cool-25: hsl(226, 24%, 99%);
  --em9-color-gray-cool-50: hsl(226, 24%, 98%);
  --em9-color-gray-cool-100: hsl(226, 24%, 95%);
  --em9-color-gray-cool-200: hsl(226, 24%, 89%);
  --em9-color-gray-cool-300: hsl(226, 24%, 89%);
  --em9-color-gray-cool-400: hsl(226, 24%, 59%);
  --em9-color-gray-cool-500: hsl(226, 24%, 48%);
  --em9-color-gray-cool-600: hsl(226, 24%, 38%);
  --em9-color-gray-cool-700: hsl(226, 24%, 33%);
  --em9-color-gray-cool-800: hsl(226, 24%, 25%);
  --em9-color-gray-cool-900: hsl(231, 33%, 10%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray Modern*/
  --em9-color-gray-modern-25: hsl(211, 34%, 99%);
  --em9-color-gray-modern-50: hsl(211, 34%, 98%);
  --em9-color-gray-modern-100: hsl(211, 33%, 95%);
  --em9-color-gray-modern-200: hsl(215, 26%, 91%);
  --em9-color-gray-modern-300: hsl(214, 21%, 84%);
  --em9-color-gray-modern-400: hsl(216, 14%, 65%);
  --em9-color-gray-modern-500: hsl(216, 12%, 47%);
  --em9-color-gray-modern-600: hsl(216, 15%, 35%);
  --em9-color-gray-modern-700: hsl(216, 21%, 27%);
  --em9-color-gray-modern-800: hsl(218, 29%, 17%);
  --em9-color-gray-modern-900: hsl(220, 37%, 11%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray Neutral*/
  --em9-color-gray-neutral-25: hsl(208, 19%, 99%);
  --em9-color-gray-neutral-50: hsl(208, 19%, 98%);
  --em9-color-gray-neutral-100: hsl(218, 13%, 96%);
  --em9-color-gray-neutral-200: hsl(218, 12%, 91%);
  --em9-color-gray-neutral-300: hsl(214, 11%, 84%);
  --em9-color-gray-neutral-400: hsl(216, 10%, 65%);
  --em9-color-gray-neutral-500: hsl(218, 8%, 46%);
  --em9-color-gray-neutral-600: hsl(211, 12%, 34%);
  --em9-color-gray-neutral-700: hsl(215, 18%, 27%);
  --em9-color-gray-neutral-800: hsl(213, 27%, 17%);
  --em9-color-gray-neutral-900: hsl(219, 38%, 11%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray iron*/
  --em9-color-gray-iron-25: hsl(0, 0%, 99%);
  --em9-color-gray-iron-50: hsl(0, 0%, 98%);
  --em9-color-gray-iron-100: hsl(238, 6%, 96%);
  --em9-color-gray-iron-200: hsl(238, 7%, 90%);
  --em9-color-gray-iron-300: hsl(238, 6%, 83%);
  --em9-color-gray-iron-400: hsl(238, 6%, 65%);
  --em9-color-gray-iron-500: hsl(238, 5%, 46%);
  --em9-color-gray-iron-600: hsl(238, 6%, 34%);
  --em9-color-gray-iron-700: hsl(238, 6%, 26%);
  --em9-color-gray-iron-800: hsl(238, 5%, 16%);
  --em9-color-gray-iron-900: hsl(238, 7%, 10%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray true*/
  --em9-color-gray-true-25: hsl(0, 0%, 99%);
  --em9-color-gray-true-50: hsl(0, 0%, 98%);
  --em9-color-gray-true-100: hsl(0, 0%, 96%);
  --em9-color-gray-true-200: hsl(0, 0%, 90%);
  --em9-color-gray-true-300: hsl(0, 0%, 84%);
  --em9-color-gray-true-400: hsl(0, 0%, 64%);
  --em9-color-gray-true-500: hsl(0, 0%, 45%);
  --em9-color-gray-true-600: hsl(0, 0%, 32%);
  --em9-color-gray-true-700: hsl(0, 0%, 26%);
  --em9-color-gray-true-800: hsl(0, 0%, 16%);
  --em9-color-gray-true-900: hsl(0, 0%, 8%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* Gray warm*/
  --em9-color-gray-warm-25: hsl(59, 10%, 99%);
  --em9-color-gray-warm-50: hsl(59, 10%, 98%);
  --em9-color-gray-warm-100: hsl(59, 6%, 96%);
  --em9-color-gray-warm-200: hsl(19, 7%, 90%);
  --em9-color-gray-warm-300: hsl(23, 7%, 83%);
  --em9-color-gray-warm-400: hsl(23, 6%, 64%);
  --em9-color-gray-warm-500: hsl(24, 6%, 45%);
  --em9-color-gray-warm-600: hsl(32, 6%, 32%);
  --em9-color-gray-warm-700: hsl(29, 7%, 25%);
  --em9-color-gray-warm-800: hsl(11, 7%, 15%);
  --em9-color-gray-warm-900: hsl(23, 11%, 10%);
  /* --em9-color-gray-blue-950: hsl(240 7.3% 8%); */

  /* moss */
  --em9-color-moss-25: hsl(89, 58%, 98%);
  --em9-color-moss-50: hsl(89, 58%, 96%);
  --em9-color-moss-100: hsl(89, 58%, 90%);
  --em9-color-moss-200: hsl(89, 58%, 80%);
  --em9-color-moss-300: hsl(89, 58%, 67%);
  --em9-color-moss-400: hsl(89, 58%, 52%);
  --em9-color-moss-500: hsl(89, 58%, 39%);
  --em9-color-moss-600: hsl(89, 58%, 30%);
  --em9-color-moss-700: hsl(89, 58%, 24%);
  --em9-color-moss-800: hsl(89, 58%, 20%);
  --em9-color-moss-900: hsl(89, 57%, 16%);
  /* --em9-color-orange-950: hsl(15.2 69.1% 19%); */

  /* green light */
  --em9-color-green-light-25: hsl(88, 90%, 98%);
  --em9-color-green-light-50: hsl(88, 90%, 95%);
  --em9-color-green-light-100: hsl(90, 87%, 89%);
  --em9-color-green-light-200: hsl(91, 84%, 82%);
  --em9-color-green-light-300: hsl(92, 81%, 67%);
  --em9-color-green-light-400: hsl(93, 74%, 55%);
  --em9-color-green-light-500: hsl(94, 75%, 44%);
  --em9-color-green-light-600: hsl(95, 85%, 35%);
  --em9-color-green-light-700: hsl(96, 78%, 27%);
  --em9-color-green-light-800: hsl(96, 69%, 23%);
  --em9-color-green-light-900: hsl(98, 61%, 20%);
  /* --em9-color-orange-950: hsl(15.2 69.1% 19%); */

  /* Green */
  --em9-color-green-25: hsl(140, 76%, 98%);
  --em9-color-green-50: hsl(140, 76%, 96%);
  --em9-color-green-100: hsl(139, 74%, 90%);
  --em9-color-green-200: hsl(142, 70%, 80%);
  --em9-color-green-300: hsl(146, 66%, 67%);
  --em9-color-green-400: hsl(148, 58%, 52%);
  --em9-color-green-500: hsl(150, 78%, 39%);
  --em9-color-green-600: hsl(151, 88%, 30%);
  --em9-color-green-700: hsl(153, 87%, 24%);
  --em9-color-green-800: hsl(153, 82%, 20%);
  --em9-color-green-900: hsl(154, 80%, 16%);
  /* --em9-color-green-950: hsl(144.3 60.7% 12%); */

  /* teal */
  --em9-color-teal-25: hsl(164, 75%, 98%);
  --em9-color-teal-50: hsl(164, 75%, 97%);
  --em9-color-teal-100: hsl(165, 84%, 89%);
  --em9-color-teal-200: hsl(166, 83%, 78%);
  --em9-color-teal-300: hsl(169, 76%, 64%);
  --em9-color-teal-400: hsl(170, 65%, 50%);
  --em9-color-teal-500: hsl(171, 79%, 40%);
  --em9-color-teal-600: hsl(173, 83%, 32%);
  --em9-color-teal-700: hsl(173, 76%, 26%);
  --em9-color-teal-800: hsl(174, 68%, 22%);
  --em9-color-teal-900: hsl(174, 60%, 19%);
  /* --em9-color-green-950: hsl(144.3 60.7% 12%); */

  /* Cyan */
  --em9-color-cyan-25: hsl(185, 100%, 98%);
  --em9-color-cyan-50: hsl(185, 100%, 96%);
  --em9-color-cyan-100: hsl(187, 96%, 90%);
  --em9-color-cyan-200: hsl(188, 94%, 82%);
  --em9-color-cyan-300: hsl(189, 92%, 69%);
  --em9-color-cyan-400: hsl(190, 86%, 53%);
  --em9-color-cyan-500: hsl(191, 94%, 43%);
  --em9-color-cyan-600: hsl(194, 91%, 36%);
  --em9-color-cyan-700: hsl(195, 82%, 31%);
  --em9-color-cyan-800: hsl(196, 70%, 27%);
  --em9-color-cyan-900: hsl(198, 64%, 24%);

  /* blue-light */
  --em9-color-blue-light-25: hsl(204, 100%, 98%);
  --em9-color-blue-light-50: hsl(204, 100%, 97%);
  --em9-color-blue-light-100: hsl(204, 96%, 94%);
  --em9-color-blue-light-200: hsl(201, 96%, 86%);
  --em9-color-blue-light-300: hsl(199, 97%, 74%);
  --em9-color-blue-light-400: hsl(198, 95%, 60%);
  --em9-color-blue-light-500: hsl(199, 91%, 48%);
  --em9-color-blue-light-600: hsl(200, 100%, 39%);
  --em9-color-blue-light-700: hsl(201, 98%, 32%);
  --em9-color-blue-light-800: hsl(201, 92%, 27%);
  --em9-color-blue-light-900: hsl(202, 82%, 24%);

  /* Blue */
  --em9-color-blue-25: hsl(210, 100%, 98%);
  --em9-color-blue-50: hsl(206, 100%, 97%);
  --em9-color-blue-100: hsl(209, 100%, 91%);
  --em9-color-blue-200: hsl(206, 100%, 85%);
  --em9-color-blue-300: hsl(206, 100%, 76%);
  --em9-color-blue-400: hsl(207, 98%, 66%);
  --em9-color-blue-500: hsl(211, 95%, 58%);
  --em9-color-blue-600: hsl(215, 87%, 51%);
  --em9-color-blue-700: hsl(218, 80%, 46%);
  --em9-color-blue-800: hsl(220, 75%, 38%);
  --em9-color-blue-900: hsl(218, 68%, 31%);
  /* --em9-color-blue-950: hsl(226.2 55.3% 18.4%); */

  /* Blue Dark */
  --em9-color-blue-dark-25: hsl(220, 100%, 98%);
  --em9-color-blue-dark-50: hsl(220, 100%, 97%);
  --em9-color-blue-dark-100: hsl(220, 100%, 91%);
  --em9-color-blue-dark-200: hsl(220, 100%, 85%);
  --em9-color-blue-dark-300: hsl(220, 100%, 76%);
  --em9-color-blue-dark-400: hsl(220, 100%, 66%);
  --em9-color-blue-dark-500: hsl(220, 100%, 58%);
  --em9-color-blue-dark-600: hsl(220, 87%, 51%);
  --em9-color-blue-dark-700: hsl(220, 100%, 46%);
  --em9-color-blue-dark-800: hsl(220, 100%, 38%);
  --em9-color-blue-dark-900: hsl(220, 100%, 31%);
  /* --em9-color-blue-950: hsl(226.2 55.3% 18.4%); */

  /* Indigo */
  --em9-color-indigo-25: hsl(220, 100%, 98%);
  --em9-color-indigo-50: hsl(220, 100%, 97%);
  --em9-color-indigo-100: hsl(220, 100%, 94%);
  --em9-color-indigo-200: hsl(222, 98%, 89%);
  --em9-color-indigo-300: hsl(224, 96%, 82%);
  --em9-color-indigo-400: hsl(228, 91%, 74%);
  --em9-color-indigo-500: hsl(233, 86%, 67%);
  --em9-color-indigo-600: hsl(237, 77%, 59%);
  --em9-color-indigo-700: hsl(239, 60%, 51%);
  --em9-color-indigo-800: hsl(238, 57%, 41%);
  --em9-color-indigo-900: hsl(236, 49%, 34%);

  /* Violet */
  --em9-color-violet-25: hsl(249, 100%, 99%);
  --em9-color-violet-50: hsl(249, 100%, 98%);
  --em9-color-violet-100: hsl(250, 92%, 95%);
  --em9-color-violet-200: hsl(250, 96%, 92%);
  --em9-color-violet-300: hsl(252, 96%, 85%);
  --em9-color-violet-400: hsl(254, 93%, 76%);
  --em9-color-violet-500: hsl(257, 91%, 66%);
  --em9-color-violet-600: hsl(261, 84%, 58%);
  --em9-color-violet-700: hsl(262, 71%, 50%);
  --em9-color-violet-800: hsl(262, 70%, 42%);
  --em9-color-violet-900: hsl(262, 68%, 35%);

  /* Purple */
  --em9-color-purple-25: hsl(244, 100%, 99%);
  --em9-color-purple-50: hsl(244, 100%, 98%);
  --em9-color-purple-100: hsl(245, 93%, 95%);
  --em9-color-purple-200: hsl(245, 97%, 92%);
  --em9-color-purple-300: hsl(247, 97%, 85%);
  --em9-color-purple-400: hsl(249, 94%, 76%);
  --em9-color-purple-500: hsl(252, 92%, 66%);
  --em9-color-purple-600: hsl(256, 85%, 58%);
  --em9-color-purple-700: hsl(257, 72%, 50%);
  --em9-color-purple-800: hsl(257, 71%, 42%);
  --em9-color-purple-900: hsl(257, 69%, 35%);

  /* Fuchsia */
  --em9-color-fuchsia-25: hsl(291, 98%, 99%);
  --em9-color-fuchsia-50: hsl(291, 98%, 98%);
  --em9-color-fuchsia-100: hsl(289, 98%, 95%);
  --em9-color-fuchsia-200: hsl(290, 94%, 91%);
  --em9-color-fuchsia-300: hsl(289, 95%, 83%);
  --em9-color-fuchsia-400: hsl(290, 93%, 73%);
  --em9-color-fuchsia-500: hsl(290, 86%, 61%);
  --em9-color-fuchsia-600: hsl(291, 71%, 49%);
  --em9-color-fuchsia-700: hsl(293, 74%, 40%);
  --em9-color-fuchsia-800: hsl(293, 72%, 33%);
  --em9-color-fuchsia-900: hsl(295, 66%, 28%);

  /* Pink */
  --em9-color-pink-25: hsl(319, 75%, 98%);
  --em9-color-pink-50: hsl(319, 75%, 97%);
  --em9-color-pink-100: hsl(318, 80%, 95%);
  --em9-color-pink-200: hsl(318, 87%, 90%);
  --em9-color-pink-300: hsl(319, 89%, 82%);
  --em9-color-pink-400: hsl(321, 88%, 70%);
  --em9-color-pink-500: hsl(318, 83%, 60%);
  --em9-color-pink-600: hsl(325, 73%, 51%);
  --em9-color-pink-700: hsl(327, 80%, 42%);
  --em9-color-pink-800: hsl(328, 76%, 35%);
  --em9-color-pink-900: hsl(328, 71%, 30%);

  /* Rose */
  --em9-color-rose-25: hsl(352, 100%, 98%);
  --em9-color-rose-50: hsl(352, 100%, 97%);
  --em9-color-rose-100: hsl(352, 100%, 95%);
  --em9-color-rose-200: hsl(349, 98%, 90%);
  --em9-color-rose-300: hsl(349, 98%, 82%);
  --em9-color-rose-400: hsl(347, 97%, 71%);
  --em9-color-rose-500: hsl(346, 91%, 60%);
  --em9-color-rose-600: hsl(343, 79%, 50%);
  --em9-color-rose-700: hsl(341, 85%, 41%);
  --em9-color-rose-800: hsl(339, 82%, 35%);
  --em9-color-rose-900: hsl(338, 77%, 30%);

  /* Orange-dark */
  --em9-color-orange-dark-25: hsl(23, 100%, 98%);
  --em9-color-orange-dark-50: hsl(23, 100%, 96%);
  --em9-color-orange-dark-100: hsl(24, 100%, 92%);
  --em9-color-orange-dark-200: hsl(30, 99%, 84%);
  --em9-color-orange-dark-300: hsl(21, 100%, 70%);
  --em9-color-orange-dark-400: hsl(17, 100%, 59%);
  --em9-color-orange-dark-500: hsl(15, 100%, 51%);
  --em9-color-orange-dark-600: hsl(11, 96%, 46%);
  --em9-color-orange-dark-700: hsl(7, 94%, 38%);
  --em9-color-orange-dark-800: hsl(5, 85%, 32%);
  --em9-color-orange-dark-900: hsl(7, 80%, 26%);
  /* --em9-color-orange-950: hsl(15.2 69.1% 19%); */

  /* Orange */
  --em9-color-orange-25: hsl(29, 90%, 98%);
  --em9-color-orange-50: hsl(29, 90%, 96%);
  --em9-color-orange-100: hsl(30, 90%, 92%);
  --em9-color-orange-200: hsl(36, 86%, 83%);
  --em9-color-orange-300: hsl(27, 89%, 72%);
  --em9-color-orange-400: hsl(23, 88%, 61%);
  --em9-color-orange-500: hsl(21, 87%, 53%);
  --em9-color-orange-600: hsl(17, 82%, 48%);
  --em9-color-orange-700: hsl(13, 80%, 40%);
  --em9-color-orange-800: hsl(11, 71%, 34%);
  --em9-color-orange-900: hsl(11, 67%, 28%);

  /* Red */
  --em9-color-red-25: hsl(12, 83%, 98%);
  --em9-color-red-50: hsl(11, 86%, 91%);
  --em9-color-red-100: hsl(11, 87%, 85%);
  --em9-color-red-200: hsl(11, 85%, 79%);
  --em9-color-red-300: hsl(10, 86%, 73%);
  --em9-color-red-400: hsl(11, 86%, 66%);
  --em9-color-red-500: hsl(11, 85%, 60%);
  --em9-color-red-600: hsl(11, 86%, 54%);
  --em9-color-red-700: hsl(10, 79%, 43%);
  --em9-color-red-800: hsl(10, 84%, 32%);
  --em9-color-red-900: hsl(11, 89%, 21%);

  /* Yellow */
  --em9-color-yellow-25: hsl(53, 92%, 97%);
  --em9-color-yellow-50: hsl(53, 92%, 95%);
  --em9-color-yellow-100: hsl(53, 97%, 88%);
  --em9-color-yellow-200: hsl(51, 98%, 79%);
  --em9-color-yellow-300: hsl(48, 98%, 72%);
  --em9-color-yellow-400: hsl(46, 96%, 53%);
  --em9-color-yellow-500: hsl(43, 93%, 47%);
  --em9-color-yellow-600: hsl(39, 96%, 40%);
  --em9-color-yellow-700: hsl(33, 92%, 33%);
  --em9-color-yellow-800: hsl(30, 81%, 29%);
  --em9-color-yellow-900: hsl(26, 73%, 26%);

  /* Amber */
  --em9-color-amber-50: hsl(48 100% 96.1%);
  --em9-color-amber-100: hsl(48 96.5% 88.8%);
  --em9-color-amber-200: hsl(48 96.6% 76.7%);
  --em9-color-amber-300: hsl(45.9 96.7% 64.5%);
  --em9-color-amber-400: hsl(43.3 96.4% 56.3%);
  --em9-color-amber-500: hsl(37.7 92.1% 50.2%);
  --em9-color-amber-600: hsl(32.1 94.6% 43.7%);
  --em9-color-amber-700: hsl(26 90.5% 37.1%);
  --em9-color-amber-800: hsl(22.7 82.5% 31.4%);
  --em9-color-amber-900: hsl(21.7 77.8% 26.5%);
  --em9-color-amber-950: hsl(22.9 74.1% 16.7%);
  /*
   * Theme Tokens
   */

  /* em9 Primary */
  --em9-color-primary-25: hsl(193, 82%, 98%);
  --em9-color-primary-50: hsl(200, 90%, 96%);
  --em9-color-primary-100: hsl(199, 89%, 93%);
  --em9-color-primary-200: hsl(201, 90%, 88%);
  --em9-color-primary-300: hsl(200, 86%, 80%);
  --em9-color-primary-400: hsl(201, 88%, 68%);
  --em9-color-primary-500: hsl(200, 76%, 59%);
  --em9-color-primary-600: hsl(200, 75%, 44%);
  --em9-color-primary-700: hsl(200, 100%, 36%);
  --em9-color-primary-800: hsl(200, 100%, 30%);
  --em9-color-primary-900: hsl(200, 100%, 24%);

  /* em9 Success */
  --em9-color-success-25: hsl(144, 100%, 98%);
  --em9-color-success-50: hsl(143, 80%, 96%);
  --em9-color-success-100: hsl(142, 80%, 90%);
  --em9-color-success-200: hsl(142, 69%, 81%);
  --em9-color-success-300: hsl(142, 69%, 68%);
  --em9-color-success-400: hsl(142, 64%, 54%);
  --em9-color-success-500: hsl(143, 97%, 38%);
  --em9-color-success-600: hsl(142, 91%, 32%);
  --em9-color-success-700: hsl(142, 86%, 25%);
  --em9-color-success-800: hsl(143, 87%, 21%);
  --em9-color-success-900: hsl(142, 81%, 17%);

  /* em9 Warning */
  --em9-color-warning-25: hsl(30, 100%, 98%);
  --em9-color-warning-50: hsl(33, 100%, 96%);
  --em9-color-warning-100: hsl(34, 86%, 85%);
  --em9-color-warning-200: hsl(33, 98%, 82%);
  --em9-color-warning-300: hsl(34, 100%, 74%);
  --em9-color-warning-400: hsl(34, 98%, 66%);
  --em9-color-warning-500: hsl(34, 86%, 55%);
  --em9-color-warning-600: hsl(30, 71%, 46%);
  --em9-color-warning-700: hsl(25, 71%, 37%);
  --em9-color-warning-800: hsl(22, 71%, 28%);
  --em9-color-warning-900: hsl(18, 70%, 25%);

  /* em9 Danger */
  --em9-color-danger-25: hsl(12, 83%, 98%);
  --em9-color-danger-50: hsl(11, 86%, 91%);
  --em9-color-danger-100: hsl(11, 87%, 85%);
  --em9-color-danger-200: hsl(11, 85%, 79%);
  --em9-color-danger-300: hsl(11, 86%, 73%);
  --em9-color-danger-400: hsl(11, 86%, 66%);
  --em9-color-danger-500: hsl(11, 85%, 60%);
  --em9-color-danger-600: hsl(11, 86%, 54%);
  --em9-color-danger-700: hsl(10, 79%, 43%);
  --em9-color-danger-800: hsl(10, 84%, 32%);
  --em9-color-danger-900: hsl(11, 89%, 21%);

  /* em9 Neutral */
  --em9-color-neutral-25: var(--em9-color-gray-25);
  --em9-color-neutral-50: var(--em9-color-gray-50);
  --em9-color-neutral-100: var(--em9-color-gray-100);
  --em9-color-neutral-200: var(--em9-color-gray-200);
  --em9-color-neutral-300: var(--em9-color-gray-300);
  --em9-color-neutral-400: var(--em9-color-gray-400);
  --em9-color-neutral-500: var(--em9-color-gray-500);
  --em9-color-neutral-600: var(--em9-color-gray-600);
  --em9-color-neutral-700: var(--em9-color-gray-700);
  --em9-color-neutral-800: var(--em9-color-gray-800);
  --em9-color-neutral-900: var(--em9-color-gray-900);
  --em9-color-neutral-950: var(--em9-color-gray-950);

  /* em9 Gradients */
  --em9-gradient-primary-900-800: linear-gradient(63.44deg, #00517a 16.66%, #006599 83.34%);
  --em9-gradient-primary-800-700: linear-gradient(341.42deg, #006599 17.3%, #007ab8 82.88%);
  --em9-gradient-primary-800-600: linear-gradient(90deg, #006599 0%, #1c8cc4 100%);
  --em9-gradient-primary-400-500-diagonal: linear-gradient(36.28deg, #6bcbeb 0%, #46b0e6 98.2%);
  --em9-gradient-primary-500-400: linear-gradient(63.44deg, #00517a 16.66%, #006599 83.34%);
  --em9-gradient-primary-400-500: linear-gradient(297.85deg, #46b0e6 32.71%, #6bcbeb 68.23%);

  --em9-gradient-gray-900-800: linear-gradient(45deg, #242a41 0%, #383b56 100%);
  --em9-gradient-gray-800-700: linear-gradient(26.57deg, #383b56 8.33%, #4d506b 91.67%);
  --em9-gradient-gray-800-600: linear-gradient(63.44deg, #383b56 16.72%, #70728f 83.39%);
  --em9-gradient-gray-800-600-diagonal: linear-gradient(45deg, #383b56 0%, #70728f 100%);
  --em9-gradient-gray-700-600: linear-gradient(45deg, #4d506b 0%, #70728f 100%);
  --em9-gradient-gray-600-500: linear-gradient(90deg, #70728f 0%, #8e90aa 100%);

  --em9-gradient-warning: linear-gradient(72.44deg, #ef9829 12.02%, #f5ad7f 87.98%);
  --em9-gradient-danger: linear-gradient(68.42deg, #891f24 15.61%, #a14c57 87.27%);
  --em9-gradient-gray: linear-gradient(90deg, #8e90aa 0%, #bbbfcc 100%);

  --em9-marketing-color-primary: hsla(200, 76%, 59%, 1);
  --em9-marketing-color-primary-25: hsla(201, 77%, 90%, 1);
  --em9-marketing-color-primary-50: hsla(200, 75%, 79%, 1);
  --em9-marketing-color-primary-75: hsla(200, 76%, 69%, 1);
  --em9-marketing-color-primary-100: hsla(200, 76%, 59%, 1);

  --em9-marketing-color-warning: hsla(34, 86%, 55%, 1);
  --em9-marketing-color-warning-25: hsla(34, 86%, 89%, 1);
  --em9-marketing-color-warning-50: hsla(33, 86%, 77%, 1);
  --em9-marketing-color-warning-75: hsla(34, 86%, 66%, 1);
  --em9-marketing-color-warning-100: hsla(34, 86%, 55%, 1);

  --em9-marketing-color-black: var(--em9-color-black);

  --em9-marketing-color-success: var(--em9-color-success-500);
  --em9-marketing-color-danger: var(--em9-color-danger-500);

  --em9-marketing-color-gray: var(--em9-color-gray-500);
  --em9-marketing-color-gray-light: var(--em9-color-gray-400);

  /* Neutral one-offs */
  --em9-color-white: hsl(0, 0%, 100%);
  --em9-color-neutral-0: hsl(0, 0%, 100%);
  --em9-color-neutral-1000: hsl(0, 0%, 0%);

  /*
   * Border radius
   */

  --em9-border-radius-small: 0.125rem; /* 2px */
  --em9-border-radius-medium: 0.25rem; /* 4px */
  --em9-border-radius-large: 0.5rem; /* 8px */
  --em9-border-radius-x-large: 1rem; /* 16px */

  --em9-border-radius-circle: 50%;
  --em9-border-radius-pill: 9999px;

  /*
   * Elevations
   */
  --em9-shadow-x-small: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --em9-shadow-small: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  --em9-shadow-medium: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --em9-shadow-large: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --em9-shadow-x-large: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --em9-shadow-2x-large: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --em9-shadow-3x-large: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  --em9-shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --em9-shadow-sm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  --em9-shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --em9-shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --em9-shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --em9-shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --em9-shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

  --em9-shadow-skim-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --em9-shadow-hover-sm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  --em9-shadow-lifted-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --em9-shadow-raised-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --em9-shadow-floating-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --em9-shadow-floating-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --em9-shadow-floating-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --em9-shadow-outline: 0px 0px 0px 1px #efefef;

  --em9-marketing-shadow-skim: 0px 20px 24px rgba(0, 0, 0, 0.05);
  --em9-marketing-shadow-skim-hover: 0px 4px 10px rgba(0, 0, 0, 0.05);
  --em9-marketing-abstract-shadow-1: 0px 0px 8px rgba(0, 0, 0, 0.08);
  --em9-marketing-abstract-shadow-2: 0px 5px 20px rgba(0, 0, 0, 0.05);
  --em9-marketing-abstract-shadow-3: 0;
  --em9-marketing-abstract-shadow-4: 0px 10px 80px rgba(0, 0, 0, 0.07);
  --em9-marketing-abstract-shadow-5: 0px 4px 10px rgba(0, 0, 0, 0.05);
  --em9-marketing-abstract-shadow-6: 0px 4px 30px rgba(0, 0, 0, 0.05);
  --em9-marketing-abstract-shadow-7: 0;
  --em9-marketing-abstract-shadow-8: 0px 4px 10px rgba(0, 0, 0, 0.1);

  --em9-blur-xs: blur(0.5rem); /*8px*/
  --em9-blur-sm: blur(1rem); /*16px*/
  --em9-blur-md: blur(1.5rem); /*24px*/
  --em9-blur-lg: blur(2.5rem); /*40px*/
  /*
   * Spacings
   */
  --em9-spacing-0-5: 0.125rem; /* 2px */
  --em9-spacing-1: 0.25rem; /* 4px */
  --em9-spacing-1-5: 0.35rem; /* 6px */
  --em9-spacing-2: 0.5rem; /* 8px */
  --em9-spacing-2-5: 0.625rem; /* 10px */
  --em9-spacing-3: 0.75rem; /* 12px */
  --em9-spacing-3-5: 0.875rem; /* 14px */
  --em9-spacing-4: 1rem; /* 16px */
  --em9-spacing-4-5: 1.125rem; /* 18px */
  --em9-spacing-5: 1.25rem; /* 20px */
  --em9-spacing-5-5: 1.375rem; /* 22px */
  --em9-spacing-6: 1.5rem; /* 24px */
  --em9-spacing-6-5: 1.625rem; /* 26px */
  --em9-spacing-7: 1.75rem; /* 28px */
  --em9-spacing-7-5: 1.875rem; /* 30px */
  --em9-spacing-8: 2rem; /* 32px */
  --em9-spacing-8-5: 2.125rem; /* 34px */
  --em9-spacing-9: 2.25rem; /* 36px */
  --em9-spacing-9-5: 2.375rem; /* 36px */
  --em9-spacing-10: 2.5rem; /* 40px */
  --em9-spacing-10-5: 2.625rem; /* 42px */
  --em9-spacing-11: 2.75rem; /* 44px */
  --em9-spacing-11-5: 2.875rem; /* 46px */
  --em9-spacing-12: 3rem; /* 48px */
  --em9-spacing-12-5: 3.125rem; /* 50px */
  --em9-spacing-13: 3.25rem; /* 52px */
  --em9-spacing-13-5: 3.375rem; /* 54px */
  --em9-spacing-14: 3.5rem; /* 56px */
  --em9-spacing-14-5: 3.625rem; /* 58px */
  --em9-spacing-15: 3.75rem; /* 60px */
  --em9-spacing-15-5: 3.875rem; /* 62px */
  --em9-spacing-16: 4rem; /* 64px */
  --em9-spacing-16-5: 4.125rem; /* 66px */
  --em9-spacing-17: 4.25rem; /* 68px */
  --em9-spacing-17-5: 4.375rem; /* 70px */
  --em9-spacing-18: 4.5rem; /* 72px */
  --em9-spacing-18-5: 4.625rem; /* 74px */
  --em9-spacing-19: 4.75rem; /* 76px */
  --em9-spacing-19-5: 4.875rem; /* 78px */
  --em9-spacing-20: 5rem; /* 80px */
  --em9-spacing-20-5: 5.125rem; /* 82px */
  --em9-spacing-21: 5.25rem; /* 84px */
  --em9-spacing-21-5: 5.375rem; /* 86px */
  --em9-spacing-22: 5.5rem; /* 88px */
  --em9-spacing-22-5: 5.625rem; /* 90px */
  --em9-spacing-23: 5.75rem; /* 92px */
  --em9-spacing-23-5: 5.875rem; /* 94px */
  --em9-spacing-24: 6rem; /* 96px */
  --em9-spacing-24-5: 6.125rem; /* 98px */
  --em9-spacing-25: 6.25rem; /* 100px */
  --em9-spacing-32: 8rem; /* 128px */
  --em9-spacing-40: 10rem; /* 160px */
  --em9-spacing-48: 12rem; /* 192px */
  --em9-spacing-56: 14rem; /* 224px */
  --em9-spacing-64: 16rem; /* 256px */

  --em9-em-spacing-0-5: 0.125em; /* 2px */
  --em9-em-spacing-1: 0.25em; /* 4px */
  --em9-em-spacing-1-5: 0.35em; /* 6px */
  --em9-em-spacing-2: 0.5em; /* 8px */
  --em9-em-spacing-2-5: 0.625em; /* 10px */
  --em9-em-spacing-3: 0.75em; /* 12px */
  --em9-em-spacing-3-5: 0.875em; /* 14px */
  --em9-em-spacing-4: 1em; /* 16px */
  --em9-em-spacing-4-5: 1.125em; /* 18px */
  --em9-em-spacing-5: 1.25em; /* 20px */
  --em9-em-spacing-5-5: 1.375em; /* 22px */
  --em9-em-spacing-6: 1.5em; /* 24px */
  --em9-em-spacing-6-5: 1.625em; /* 26px */
  --em9-em-spacing-7: 1.75em; /* 28px */
  --em9-em-spacing-7-5: 1.875em; /* 30px */
  --em9-em-spacing-8: 2em; /* 32px */
  --em9-em-spacing-8-5: 2.125em; /* 34px */
  --em9-em-spacing-9: 2.25em; /* 36px */
  --em9-em-spacing-9-5: 2.375em; /* 36px */
  --em9-em-spacing-10: 2.5em; /* 40px */
  --em9-em-spacing-10-5: 2.625em; /* 42px */
  --em9-em-spacing-11: 2.75em; /* 44px */
  --em9-em-spacing-11-5: 2.875em; /* 46px */
  --em9-em-spacing-12: 3em; /* 48px */
  --em9-em-spacing-12-5: 3.125em; /* 50px */
  --em9-em-spacing-13: 3.25em; /* 52px */
  --em9-em-spacing-13-5: 3.375em; /* 54px */
  --em9-em-spacing-14: 3.5em; /* 56px */
  --em9-em-spacing-14-5: 3.625em; /* 58px */
  --em9-em-spacing-15: 3.75em; /* 60px */
  --em9-em-spacing-15-5: 3.875em; /* 62px */
  --em9-em-spacing-16: 4em; /* 64px */
  --em9-em-spacing-16-5: 4.125em; /* 66px */
  --em9-em-spacing-17: 4.25em; /* 68px */
  --em9-em-spacing-17-5: 4.375em; /* 70px */
  --em9-em-spacing-18: 4.5em; /* 72px */
  --em9-em-spacing-18-5: 4.625em; /* 74px */
  --em9-em-spacing-19: 4.75em; /* 76px */
  --em9-em-spacing-19-5: 4.875em; /* 78px */
  --em9-em-spacing-20: 5em; /* 80px */
  --em9-em-spacing-20-5: 5.125em; /* 82px */
  --em9-em-spacing-21: 5.25em; /* 84px */
  --em9-em-spacing-21-5: 5.375em; /* 86px */
  --em9-em-spacing-22: 5.5em; /* 88px */
  --em9-em-spacing-22-5: 5.625em; /* 90px */
  --em9-em-spacing-23: 5.75em; /* 92px */
  --em9-em-spacing-23-5: 5.875em; /* 94px */
  --em9-em-spacing-24: 6em; /* 96px */
  --em9-em-spacing-24-5: 6.125em; /* 98px */
  --em9-em-spacing-25: 6.25em; /* 100px */
  --em9-em-spacing-32: 8em; /* 128px */
  --em9-em-spacing-40: 10em; /* 160px */
  --em9-em-spacing-48: 12em; /* 192px */
  --em9-em-spacing-56: 14em; /* 224px */
  --em9-em-spacing-64: 16em; /* 256px */
  /*
   * Sacle Tokens
   */
  --em9-spacing-3x-small: 0.125rem; /* 2px */
  --em9-spacing-2x-small: 0.25rem; /* 4px */
  --em9-spacing-x-small: 0.5rem; /* 8px */
  --em9-spacing-small: 0.75rem; /* 12px */
  --em9-spacing-medium: 1rem; /* 16px */
  --em9-spacing-large: 1.25rem; /* 20px */
  --em9-spacing-x-large: 1.75rem; /* 28px */
  --em9-spacing-2x-large: 2.25rem; /* 36px */
  --em9-spacing-3x-large: 3rem; /* 48px */
  --em9-spacing-4x-large: 4.5rem; /* 72px */

  /*
   * Containers
   */

  --em9-container-sm: 40rem; /*640px*/
  --em9-container-md: 48rem; /*768px*/
  --em9-container-lg: 64rem; /*1024px*/
  --em9-container-xl: 80rem; /*1280px*/

  /*
   * Transitions
   */

  --em9-transition-x-slow: 1000ms;
  --em9-transition-slow: 500ms;
  --em9-transition-medium: 250ms;
  --em9-transition-fast: 150ms;
  --em9-transition-x-fast: 50ms;

  /*
   * Typography
   */

  /* Fonts */
  --em9-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --em9-font-sans: var(--em9-font-inter);
  --em9-font-serif: Georgia, 'Times New Roman', serif;

  /* Fonts Types */
  --em9-font-helvetica: 'Helveticaneue', Helvetica, Arial, sans-serif;
  --em9-font-inter: 'Inter', sans-serif;

  /* Font sizes */
  --em9-font-size-2x-small: 0.625rem; /* 10px */
  --em9-font-size-x-small: 0.75rem; /* 12px */
  --em9-font-size-small: 0.875rem; /* 14px */
  --em9-font-size-medium: 1rem; /* 16px */
  --em9-font-size-large: 1.125rem; /* 18px */
  --em9-font-size-x-large: 1.25rem; /* 20px */
  --em9-font-size-2x-large: 1.75rem; /* 28px */
  --em9-font-size-3x-large: 2.5rem; /* 40px */
  --em9-font-size-4x-large: 4.5rem; /* 72px */

  --em9-font-size-display-2xl: 4.5rem; /* 72px */
  --em9-font-size-display-xl: 3.75rem; /* 60px */
  --em9-font-size-display-lg: 3rem; /* 48px */
  --em9-font-size-display-md: 2.25rem; /* 36px */
  --em9-font-size-display-mds: 2rem; /* 32px */
  --em9-font-size-display-sm: 1.875rem; /* 30px */
  --em9-font-size-display-smd: 1.75rem; /* 28px */
  --em9-font-size-display-smm: 1.625rem; /* 26px */
  --em9-font-size-display-xs: 1.5rem; /* 24px */
  --em9-font-size-display-xss: 1.375rem; /* 22px */

  --em9-font-size-text-xxxl: 1.5rem; /* 24px */
  --em9-font-size-text-xxl: 1.375rem; /* 22px */
  --em9-font-size-text-xl: 1.25rem; /* 20px */
  --em9-font-size-text-lg: 1.125rem; /* 18px */
  --em9-font-size-text-md: 1rem; /* 16px */
  --em9-font-size-text-sm: 0.875rem; /* 14px */
  --em9-font-size-text-xs: 0.75rem; /* 12px */
  --em9-font-size-text-xxs: 0.625rem; /* 10px */

  /* Font weights */
  --em9-font-weight-light: 300;
  --em9-font-weight-normal: 400;
  --em9-font-weight-semibold: 500;
  --em9-font-weight-bold: 700;

  /* Letter spacings */
  --em9-letter-spacing-denser: -0.03em;
  --em9-letter-spacing-dense: -0.015em;
  --em9-letter-spacing-normal: normal;
  --em9-letter-spacing-loose: 0.075em;
  --em9-letter-spacing-looser: 0.15em;

  /* Line heights */
  --em9-line-height-denser: 1;
  --em9-line-height-dense: 1.4;
  --em9-line-height-normal: 1.8;
  --em9-line-height-loose: 2.2;
  --em9-line-height-looser: 2.6;
  --em9-border-width: 1px;
  --em9-normal-border-radius: 4px;
  --em9-line-height-1-5: 1.5;
  --em9-line-height-1-3: 1.3;
  --em9-line-height-1-2: 1.2;
  --em9-line-height-1-1: 1.1;
  --em9-line-height-1: 1px;
  --em9-line-height-2: 2px;
  --em9-line-height-3: 3px;
  --em9-line-height-4: 4px;
  --em9-line-height-5: 5px;
  --em9-line-height-6: 6px;
  --em9-line-height-7: 7px;
  --em9-line-height-8: 8px;
  --em9-line-height-9: 9px;
  --em9-line-height-10: 10px;
  --em9-line-height-11: 11px;
  --em9-line-height-12: 12px;
  --em9-line-height-13: 13px;
  --em9-line-height-14: 14px;
  --em9-line-height-15: 15px;
  --em9-line-height-16: 16px;
  --em9-line-height-17: 17px;
  --em9-line-height-18: 18px;
  --em9-line-height-19: 19px;
  --em9-line-height-20: 20px;
  --em9-line-height-21: 21px;
  --em9-line-height-22: 22px;
  --em9-line-height-23: 23px;
  --em9-line-height-24: 24px;
  --em9-line-height-25: 25px;
  --em9-line-height-26: 26px;
  --em9-line-height-27: 27px;
  --em9-line-height-28: 28px;
  --em9-line-height-29: 29px;
  --em9-line-height-30: 30px;
  --em9-line-height-31: 31px;
  --em9-line-height-32: 32px;

  /*
   * Forms
   */
  /* em9 Focus rings */
  /*--em9-ring-1:;*/

  /* Focus rings */
  --em9-focus-ring-color: var(--em9-color-primary-50);
  --em9-focus-ring-style: solid;
  --em9-focus-ring-width: var(--em9-spacing-1);
  --em9-focus-ring: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color);
  --em9-focus-ring-offset: 1px;
  --em9-focus-ring-offset-0: 0;

  /* Focus rings Themes */
  --em9-focus-ring-color-default: var(--em9-color-gray-100);
  --em9-focus-ring-color-primary: var(--em9-color-primary-50);
  --em9-focus-ring-color-success: var(--em9-color-success-50);
  --em9-focus-ring-color-danger: var(--em9-color-danger-50);
  --em9-focus-ring-color-warning: var(--em9-color-warning-50);

  --em9-focus-ring-default: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color-default);
  --em9-focus-ring-primary: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color-primary);
  --em9-focus-ring-success: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color-success);
  --em9-focus-ring-danger: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color-danger);
  --em9-focus-ring-warning: var(--em9-focus-ring-style) var(--em9-focus-ring-width) var(--em9-focus-ring-color-warning);

  /* Buttons */

  --em9-button-font-size-xx-small: var(--em9-font-size-text-xs);
  --em9-button-font-size-x-small: var(--em9-font-size-text-sm);
  --em9-button-font-size-small: var(--em9-font-size-text-sm);
  --em9-button-font-size-medium: var(--em9-font-size-text-sm);
  --em9-button-font-size-large: var(--em9-font-size-text-md);
  --em9-button-font-size-x-large: var(--em9-font-size-text-md);
  --em9-button-font-size-2x-large: var(--em9-font-size-text-lg);

  /* Buttons Height*/
  --em9-button-height-xx-small: var(--em9-spacing-7); /* 28px */
  --em9-button-height-x-small: var(--em9-spacing-8); /* 32px */
  --em9-button-height-small: var(--em9-spacing-9); /* 36px */
  --em9-button-height-medium: var(--em9-spacing-10); /* 40px */
  --em9-button-height-large: var(--em9-spacing-11); /* 44px */
  --em9-button-height-x-large: var(--em9-spacing-12); /* 48px */
  --em9-button-height-2x-large: var(--em9-spacing-15); /* 52px */

  /* Buttons Line Height*/
  --em9-button-line-height-small: 1.428;
  --em9-button-line-height-medium: 1.428;
  --em9-button-line-height-large: 1.5;
  --em9-button-line-height-x-large: 1.5;
  --em9-button-line-height-2x-large: 1.55;

  /* Button Radius */
  --em9-button-border-radius: var(--em9-border-radius-medium);

  /* Inputs */
  --em9-input-height-small: 2.25rem; /* 36px */
  --em9-input-height-medium: 2.5rem; /* 40px */
  --em9-input-height-large: 2.75rem; /* 44px */
  --em9-input-height-x-large: 3.5rem; /* 56px */

  --em9-input-background-color: var(--em9-color-neutral-0);
  --em9-input-background-color-hover: var(--em9-input-background-color);
  --em9-input-background-color-focus: var(--em9-input-background-color);
  --em9-input-background-color-disabled: var(--em9-color-gray-50);
  --em9-input-border-color: var(--em9-color-gray-300);
  --em9-input-border-color-hover: var(--em9-color-primary-500);
  --em9-input-border-color-focus: var(--em9-color-primary-300);
  --em9-input-border-color-disabled: var(--em9-color-gray-300);

  --em9-input-border-danger: var(--em9-color-danger-300);
  --em9-input-border-danger-hover: var(--em9-color-danger-400);
  --em9-input-border-danger-focus: var(--em9-color-danger-500);
  --em9-input-border-danger-disabled: var(--em9-color-danger-300);

  --em9-input-border-success: var(--em9-color-success-300);
  --em9-input-border-success-hover: var(--em9-color-success-400);
  --em9-input-border-success-focus: var(--em9-color-success-500);
  --em9-input-border-success-disabled: var(--em9-color-success-300);

  --em9-input-border-width: 1px;

  --em9-input-border-radius-small: var(--em9-border-radius-medium);
  --em9-input-border-radius-medium: var(--em9-border-radius-medium);
  --em9-input-border-radius-large: var(--em9-border-radius-medium);

  --em9-input-font-family: var(--em9-font-sans);
  --em9-input-font-weight: var(--em9-font-weight-normal);
  --em9-input-font-size-small: var(--em9-font-size-small);
  --em9-input-font-size-medium: var(--em9-font-size-medium);
  --em9-input-font-size-large: var(--em9-font-size-medium);
  --em9-input-letter-spacing: var(--em9-letter-spacing-normal);

  --em9-input-color: var(--em9-color-gray-900);
  --em9-input-color-hover: var(--em9-color-gray-900);
  --em9-input-color-focus: var(--em9-color-gray-900);
  --em9-input-color-disabled: var(--em9-color-gray-500);
  --em9-input-icon-color: var(--em9-color-gray-500);
  --em9-input-icon-color-hover: var(--em9-color-gray-900);
  --em9-input-icon-color-focus: var(--em9-color-gray-900);
  --em9-input-placeholder-color: var(--em9-color-gray-500);
  --em9-input-placeholder-color-disabled: var(--em9-color-gray-600);
  --em9-input-spacing-small: var(--em9-spacing-small);
  --em9-input-spacing-medium: var(--em9-spacing-small);
  --em9-input-spacing-large: var(--em9-spacing-medium);
  --em9-input-size: 2.5rem;

  --em9-input-filled-background-color: var(--em9-color-gray-100);
  --em9-input-filled-background-color-hover: var(--em9-color-neutral-0);
  --em9-input-filled-background-color-focus: var(--em9-color-neutral-0);
  --em9-input-filled-background-color-disabled: var(--em9-color-gray-200);
  --em9-input-filled-color: var(--em9-color-gray-800);
  --em9-input-filled-color-hover: var(--em9-color-gray-800);
  --em9-input-filled-color-focus: var(--em9-color-gray-700);
  --em9-input-filled-color-disabled: var(--em9-color-gray-800);

  --em9-input-focus-ring-color: var(--em9-color-primary-25);
  --em9-input-focus-ring-danger: var(--em9-color-danger-50);
  --em9-input-focus-ring-warning: var(--em9-color-warning-100);
  --em9-input-focus-ring-success: var(--em9-color-success-50);
  --em9-input-focus-ring-gray: var(--em9-color-gray-50);
  --em9-input-focus-ring-offset: 0;

  /* Labels */
  --em9-input-label-font-size-small: var(--em9-font-size-small);
  --em9-input-label-font-size-medium: var(--em9-font-size-medium);
  --em9-input-label-font-size-large: var(--em9-font-size-large);

  --em9-input-label-color: var(--em9-color-gray-700);

  /* Help text */
  --em9-input-help-text-font-size-small: var(--em9-font-size-x-small);
  --em9-input-help-text-font-size-medium: var(--em9-font-size-small);
  --em9-input-help-text-font-size-large: var(--em9-font-size-medium);

  --em9-input-help-text-color: var(--em9-color-gray-500);

  --em9-input-prefix-color: var(--em9-color-gray-600);

  /* Toggles (checkboxes, radios, switches) */
  --em9-toggle-size: 1.25rem;

  /*
   * Overlays
   */

  --em9-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /*
   * Panels
   */

  --em9-panel-background-color: var(--em9-color-neutral-0);
  --em9-panel-border-color: var(--em9-color-neutral-200);
  --em9-panel-border-width: 1px;

  /*
   * Tooltips
   */

  --em9-tooltip-border-radius: var(--em9-border-radius-medium);
  --em9-tooltip-background-color: var(--em9-color-neutral-800);
  --em9-tooltip-color: var(--em9-color-neutral-0);
  --em9-tooltip-font-family: var(--em9-font-sans);
  --em9-tooltip-font-weight: var(--em9-font-weight-normal);
  --em9-tooltip-font-size: var(--em9-font-size-small);
  --em9-tooltip-line-height: var(--em9-line-height-dense);
  --em9-tooltip-padding: var(--em9-spacing-2x-small) var(--em9-spacing-x-small);
  --em9-tooltip-arrow-size: 4px;

  /*
   * Z-indexes
   */

  --em9-z-index-drawer: 700;
  --em9-z-index-dialog: 800;
  --em9-z-index-dropdown: 900;
  --em9-z-index-toast: 950;
  --em9-z-index-tooltip: 1000;

  /* =End of em9 grid */
}

/* _utility.css */

/*
Generate tokens from 0 256px
*/
